.objects {
    // display: none;
    padding: 0 0 10rem 0;
    // .objects__inner
    @media (max-width: 1000px) {
        padding: 0;
    }

    &__inner {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        position: relative;
        padding: 6rem 0;
        @media (max-width: 1000px) {
            padding: 0;
        }
    }

    // .objects__title-box

    &__title-box {
        width: 50.4rem;
        position: absolute;
        top: 4rem;
        left: 0;
        &::after {
            position: absolute;
            content: '';
            background: $dark-gray;
            background-position: 50% 50%;
            width: 50rem;
            height: 158rem;
            border-radius: 0 17.8rem 17.8rem 0;
            top: -2rem;
            left: -14.1rem;
            z-index: -1;
            @media (max-width: 1000px) {
                border-radius: 0 10rem 10rem 0;
                left: -28.1rem;
            }
            @media (max-width: 400px) {
                height: 110.8rem;
                border-radius: 0 6rem 6rem 0;
                left: -35.1rem;
            }
        }
        @media (max-width: 1000px) {
            position: static;
            width: fit-content;
        }
    }

    // .objects__title

    &__title {
        position: relative;
        z-index: 2;
        padding-top: 0;
        @media (max-width: 1000px) {
            width: 27.7rem;
        }
        @media (max-width: 400px) {
            width: 16.7rem;
        }
    }

    // .objects__swiper-box

    &__swiper-box {
    }

    // .objects__swiper

    &__swiper {
    }

    // .objects__swiper-wrapper

    &__swiper-wrapper {
    }

    // .objects__swiper-slide

    &__swiper-slide {
        display: flex !important;
        gap: 10rem !important;
        @media (max-width: 1000px) {
            flex-direction: column !important;
            gap: 5.5rem !important;
        }
    }

    // .objects__swiper-slide-left

    &__swiper-slide-left {
        display: flex;
        flex-direction: column;
        gap: 4.3rem;
        width: 42rem;
        margin-top: 16.6rem;
        @media (max-width: 1000px) {
            margin-top: 0;
            gap: 2.5rem;
        }
        @media (max-width: 400px) {
            gap: 1.2rem;
        }
    }

    // .objects__swiper-title-box

    &__swiper-title-box {
    }

    // .objects__swiper-title

    &__swiper-title {
        color: #ffffffb3;
        font-size: 2.4rem;
        font-weight: 500;
        width: 28.9rem;
        line-height: 122.188%;
        letter-spacing: 1.92px;
        @media (max-width: 1000px) {
            font-size: 1.4rem;
            width: 17rem;
            letter-spacing: 1.12px;
        }
        @media (max-width: 400px) {
            width: 12.8rem;
            letter-spacing: 1.12px;
        }
    }

    // .objects__swiper-content-box

    &__swiper-content-box {
        @media (max-width: 1000px) {
            width: 20rem;
        }
        @media (max-width: 400px) {
            width: 12.8rem;
        }
    }

    // .objects__swiper-content

    &__swiper-content {
        color: $white;
        font-size: 3.6rem;
        font-weight: 500;
        line-height: 122.188%;
        letter-spacing: 2.88px;
        @media (max-width: 1000px) {
            font-size: 1.8rem;
            letter-spacing: 1.44px;
        }
        @media (max-width: 400px) {
            font-size: 1.2rem;
            letter-spacing: 0.08em;
        }
    }

    // .objects__swiper-btn-box

    &__swiper-btn-box {
    }

    // .objects__swiper-btn-prev

    &__swiper-btn-prev {
    }

    // .objects__swiper-svg-box

    &__swiper-svg-box {
    }

    // .objects__swiper-btn-next

    &__swiper-btn-next {
    }

    &__swiper-btn-prev.swiper-button-prev,
    &__swiper-btn-next.swiper-button-next {
        &::after {
            content: '';
        }
    }

    &__swiper-btn-prev.swiper-button-prev {
        left: 0rem !important;
        top: 60rem !important;
        @media (max-width: 1000px) {
            left: -3rem !important;
            top: 85rem !important;
        }
        @media (max-width: 400px) {
            left: -1rem !important;
            top: 57rem !important;
        }
    }

    &__swiper-btn-next.swiper-button-next {
        right: 143rem !important;
        top: 60rem !important;
        @media (max-width: 1000px) {
            left: 12.6rem !important;
            top: 85rem !important;
        }
        @media (max-width: 400px) {
            left: 10.6rem !important;
            top: 57rem !important;
        }
    }

    // .objects__btn

    &__btn {
        position: relative;
        z-index: 1;
        width: 17rem;
        margin: -15.5rem 0 0 4.8rem;
        @media (max-width: 1000px) {
            margin: 8rem 0 0 0;
            font-size: 1.2rem;
            width: 13rem;
        }
    }

    &__swiper-slide-video-play {
        position: absolute;
        width: 20.7rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: transform 0.3s;
        @media (max-width: 1000px) {
            width: 9.6rem;
        }
        @media (max-width: 400px) {
            width: 5.3rem;
        }
        &:hover {
            transform: translate(-50%, -50%) scale(1.1);
        }
    }

    // .objects__swiper-slide-right

    &__swiper-slide-right {
        display: flex;
        position: relative;
    }

    // .objects__swiper-slide-video-box

    &__swiper-slide-video-box {
        position: relative;
        @media (max-width: 1000px) {
            width: 68rem;
        }
        @media (max-width: 400px) {
            width: 100%;
        }
    }
}

.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-button-prev {
}
.swiper-button-next {
}
