<section class="advantages">
    <div class="container">
        <div class="advantages__inner">
            <div class="advantages__title-box">
                <h2 class="advantages__title title"><span class="yellow-text">ПРЕИМУЩЕСТВА РАБОТЫ</span><br> С НАМИ</h2>
            </div>
            <div class="advantages__tile-box">
                <ul class="advantages__tile">
                    <li class="advantages__tile-item">
                        <p class="advantages__item-number">0<span class="yellow-text">1</span></p>
                        <p class="advantages__item-text">Инженерно-проектный отдел с опытом работы 20 лет</p>
                    </li>
                    <li class="advantages__tile-item">
                        <div class="advantages__item-number">
                            <p class="">0<span class="yellow-text">2</span></p>
                        </div>
                        <div class="advantages__item-text">
                            <p class="">Оптимизация проектов: сокращение затрат на эксплуатацию и закупку</p>
                        </div>
                    </li>
                    <li class="advantages__tile-item">
                        <div class="advantages__item-number">
                            <p class="">0<span class="yellow-text">3</span></p>
                        </div>
                        <div class="advantages__item-text">
                            <p class="">Работники со всеми допусками по высоте, сварке и по пожарной безопастности</p>
                        </div>
                    </li>
                    <li class="advantages__tile-item">
                        <div class="advantages__item-number">
                            <p class="">0<span class="yellow-text">4</span></p>
                        </div>
                        <div class="advantages__item-text">
                            <p class="">Гарантия на оборудование 3 года, на работы до 10 лет</p>
                        </div>
                    </li>
                    <li class="advantages__tile-item">
                        <div class="advantages__item-number">
                            <p class="">0<span class="yellow-text">5</span></p>
                        </div>
                        <div class="advantages__item-text">
                            <p class="">СРО, лицензия МЧС, сварочная и электролаборатория</p>
                        </div>
                    </li>
                    <li class="advantages__tile-item">
                        <div class="advantages__item-number">
                            <p class="">0<span class="yellow-text">6</span></p>
                        </div>
                        <div class="advantages__item-text">
                            <p class="">Собственная спецтехника, алмазное бурение, собсвтенные бытовки</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
