<section class="footer" id="footer">
    <div class="container">
        <div class="footer__inner">
            <div class="footer__title-box">
                <h2 class="footer__title title">контакТы</h2>
            </div>
            <div class="footer__content-box">
                <form data-popup-message="#popup__success" data-dev action="#" class="footer__content-form">
                    <p class="footer__content-text">
                        Отправьте нам свой готовый проект и мы снизим его стоимость за счет инженерных решений. Оставьте контактные данные для связи с нашим менеджером.
                    </p>
                    <div class="footer__content-input-box">
                        <div class="footer__content-input" action="">
                            <div class="footer__content-input-name input-group ">
                                <div class="popup__application-form-input-wrapper">
                                    <input
                                        class="popup__input popup__input-black input--name"
                                        type="text"
                                        placeholder="Имя"
                                        data-validate
                                        data-required
                                        autocomplete="off"
                                        name="form[]"
                                    />
                                </div>
                                <span class="error-span">Введите текстовое значение</span>
                            </div>
                            <div class="footer__content-input-tel input-group">
                                <div class="popup__application-form-input-wrapper">
                                    <input
                                        class="popup__input input--tel popup__input-black phone-mask"
                                        type="text"
                                        placeholder="Телефон"
                                        data-validate
                                        data-required="tel"
                                        autocomplete="off"
                                        name="form[]"
                                    />
                                </div>
                                <span class="error-span">Введите текстовое значение</span>
                            </div>
                        </div>
                    </div>
                    <button class="footer__content-btn button-white" type="submit">Оставить заявку</button>
                </form>

                <div class="footer__content-contacts">
                    <div class="footer__content-locate-box">
                        <p class="footer__content-locate">г. Вологда, ул. пр. Победы д.20, 2 этаж</p>
                    </div>
                    <div class="footer__content-provider-box">
                        <p class="footer__content-text footer__content-contact-text">Для поставщиков:</p>
                        <a class="footer__content-tel" href="tel:+78172502750">8 (8172) 50-27-50</a>
                        <a class="footer__content-mail" href="mailto:rno@vestroy.ru">rno@vestroy.ru</a>
                    </div>
                    <div class="footer__content-sales-box">
                        <p class="footer__content-text footer__content-contact-text">Отдел продаж:</p>
                        <a class="footer__content-tel" href="+78002010435">8 (800) 201-04-35</a>
                        <a class="footer__content-mail" href="vent35@yandex.ru">vent35@yandex.ru</a>
                    </div>
                </div>
            </div>
            <div class="footer__copyright-box">
                <p class="footer__copyright">2022 ООО “Вестрой”</p>
                <a class="footer__private-policy">Политика конфиденциальности </a>
            </div>
        </div>
    </div>
</section>
