<header class="header">
    <div class="container header__container">
        <div class="header__inner">
            <div class="header__top">
                <div class="header__top-inner">
                    <div class="header__logo">
                        <a href="">
                            <img src="/src/assets/images/logo.png" alt="" />
                        </a>
                    </div>
                    <div class="header__nav-box">
                        <ul class="header__nav">
                            <li class="header__nav-item">
                                <a href="#jobs" class="header__nav-btn nav-link">Виды работ</a>
                            </li>
                            <li class="header__nav-item">
                                <a href="#certificate" class="header__nav-btn nav-link">Сертификаты</a>
                            </li>
                            <li class="header__nav-item">
                                <a href="#objects" class="header__nav-btn nav-link">Выполненные объекты</a>
                            </li>
                            <li class="header__nav-item">
                                <a href="#about" class="header__nav-btn nav-link">О компании</a>
                            </li>
                            <li class="header__nav-item">
                                <a href="#footer" class="header__nav-btn nav-link">Контакты</a>
                            </li>
                        </ul>
                    </div>
                    <div class="header__contacts-box">
                        <div class="header__tel">
                            <a href="tel:+78002010435">8 (800) 201-04-35 </a>
                        </div>
                        <div class="header__mail">
                            <a href="mailto:vent35@yandex.ru">vent35@yandex.ru</a>
                        </div>
                    </div>
                    <button class="burger">
                        <span class="burger__line"></span>
                    </button>
                </div>
            </div>
            <div class="header__bottom">
                <div class="header__bottom-inner">
                    <div class="header__title-box">
                        <h2 class="header__title">
                            Проектирование, монтаж и установка<br />
                            систем вентиляции
                        </h2>
                    </div>
                    <div class="header__bottom-content">
                        <div class="header__bottom-text">
                            <p>Отправьте нам свой готовый проект и мы снизим его стоимость за счет инженерных решений</p>
                        </div>
                        <div class="header__bottom-btn-box">
                            <button data-popup="#popup__success" class="header__btn button-yellow">Консультация</button>
                            <button data-popup="#popup__calculator" class="header__btn button-white">Калькулятор</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
