<section class="jobs" id="jobs">
    <div class="container jobs__container">
        <div class="jobs__inner">
            <div class="jobs__title-box">
                <h2 class="jobs__title title">ВИДЫ РАБОТ</h2>
            </div>
            <div class="jobs__content">
                <div class="jobs__tab-box">
                    <ul class="jobs__list">
                        <li class="jobs__list-item active">
                            <button class="jobs__item-title">Вентиляция</button>
                        </li>
                        <li class="jobs__list-item">
                            <button class="jobs__item-title">Кондиционирование</button>
                        </li>
                        <li class="jobs__list-item">
                            <button class="jobs__item-title">Акты ВДПО</button>
                        </li>
                        <li class="jobs__list-item">
                            <button class="jobs__item-title">Аспирация и <br>Пневмотранспорт</button>
                        </li>
                        <li class="jobs__list-item">
                            <button class="jobs__item-title">Дымоудаление</button>
                        </li>
                        <li class="jobs__list-item">
                            <button class="jobs__item-title">Огнезащита зданий и <br>сооружений</button>
                        </li>
                    </ul>

                    <ul class="jobs__tab">
                        <li class="jobs__tab-item active">
                            <div class="jobs__tab-text">
                                <p class="">
                                    Компания «Вентиляциястрой» готова предложить монтаж промышленных и бытовых систем вентиляции любой сложности, с соблюдением всех
                                    правил ведения работ на объекте и в строгом соответствии с графиком производства работ. Авторский<br> технический надзор и ежедневный
                                    отчет о работах.
                                </p>

                                <p class="">
                                    Для того чтобы произвести точный расчет системы вентиляции обратитесь к менеджерам компании «Вестрой». При заказе работ у нас
                                    проектирование вы <br>получите бесплатно.
                                </p>
                            </div>
                            <div class="jobs__tab-btn-box">
                                <button class="jobs__btn button-white">Калькулятор</button>
                                <button class="jobs__btn button-yellow">Консультация</button>
                            </div>
                        </li>
                        <li class="jobs__tab-item">
                            <div class="jobs__tab-text">
                                <p class="">
                                    2Компания «Вентиляциястрой» готова предложить монтаж промышленных и бытовых систем вентиляции любой сложности, с соблюдением всех
                                    правил ведения работ на объекте и в строгом соответствии с графиком производства работ. Авторский<br> технический надзор и ежедневный
                                    отчет о работах.
                                </p>

                                <p class="">
                                    Для того чтобы произвести точный расчет системы вентиляции обратитесь к менеджерам компании «Вестрой». При заказе работ у нас
                                    проектирование вы <br>получите бесплатно.
                                </p>
                            </div>
                            <div class="jobs__tab-btn-box">
                                <button class="jobs__btn button-white">Калькулятор</button>
                                <button class="jobs__btn button-yellow">Консультация</button>
                            </div>
                        </li>
                        <li class="jobs__tab-item">
                            <div class="jobs__tab-text">
                                <p class="">
                                    3Компания «Вентиляциястрой» готова предложить монтаж промышленных и бытовых систем вентиляции любой сложности, с соблюдением всех
                                    правил ведения работ на объекте и в строгом соответствии с графиком производства работ. Авторский<br> технический надзор и ежедневный
                                    отчет о работах.
                                </p>

                                <p class="">
                                    Для того чтобы произвести точный расчет системы вентиляции обратитесь к менеджерам компании «Вестрой». При заказе работ у нас
                                    проектирование вы <br>получите бесплатно.
                                </p>
                            </div>
                            <div class="jobs__tab-btn-box">
                                <button class="jobs__btn button-white">Калькулятор</button>
                                <button class="jobs__btn button-yellow">Консультация</button>
                            </div>
                        </li>
                        <li class="jobs__tab-item">
                            <div class="jobs__tab-text">
                                <p class="">
                                    4Компания «Вентиляциястрой» готова предложить монтаж промышленных и бытовых систем вентиляции любой сложности, с соблюдением всех
                                    правил ведения работ на объекте и в строгом соответствии с графиком производства работ. Авторский<br> технический надзор и ежедневный
                                    отчет о работах.
                                </p>

                                <p class="">
                                    Для того чтобы произвести точный расчет системы вентиляции обратитесь к менеджерам компании «Вестрой». При заказе работ у нас
                                    проектирование вы <br>получите бесплатно.
                                </p>
                            </div>
                            <div class="jobs__tab-btn-box">
                                <button class="jobs__btn button-white">Калькулятор</button>
                                <button class="jobs__btn button-yellow">Консультация</button>
                            </div>
                        </li>
                        <li class="jobs__tab-item">
                            <div class="jobs__tab-text">
                                <p class="">
                                    5Компания «Вентиляциястрой» готова предложить монтаж промышленных и бытовых систем вентиляции любой сложности, с соблюдением всех
                                    правил ведения работ на объекте и в строгом соответствии с графиком производства работ. Авторский<br> технический надзор и ежедневный
                                    отчет о работах.
                                </p>

                                <p class="">
                                    Для того чтобы произвести точный расчет системы вентиляции обратитесь к менеджерам компании «Вестрой». При заказе работ у нас
                                    проектирование вы <br>получите бесплатно.
                                </p>
                            </div>
                            <div class="jobs__tab-btn-box">
                                <button class="jobs__btn button-white">Калькулятор</button>
                                <button class="jobs__btn button-yellow">Консультация</button>
                            </div>
                        </li>
                        <li class="jobs__tab-item">
                            <div class="jobs__tab-text">
                                <p class="">
                                    6Компания «Вентиляциястрой» готова предложить монтаж промышленных и бытовых систем вентиляции любой сложности, с соблюдением всех
                                    правил ведения работ на объекте и в строгом соответствии с графиком производства работ. Авторский<br> технический надзор и ежедневный
                                    отчет о работах.
                                </p>

                                <p class="">
                                    Для того чтобы произвести точный расчет системы вентиляции обратитесь к менеджерам компании «Вестрой». При заказе работ у нас
                                    проектирование вы <br>получите бесплатно.
                                </p>
                            </div>
                            <div class="jobs__tab-btn-box">
                                <button class="jobs__btn button-white">Калькулятор</button>
                                <button class="jobs__btn button-yellow">Консультация</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
